.section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1000px;
    height: 400px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 5px; 
    margin-left: 10px;
    overflow: auto;
}

.image {
    display: block;
    max-width: 250px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: 1px solid rgba(128, 128, 128, 0.5);
}

.good {
    position: relative;
    width: calc((100%-100px)/3);
    height: 210px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 7px;
    margin-top:20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.nameGood{
    margin-left: 20px;
}

.btn{
    position: absolute;
    right: 20px;
    width: 120px;
    height: 30px;
}